<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CalorieCopSourceCommit</key>
	<string>$(CALORIECOP_SOURCE_COMMIT)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.zyyang116.caloriecapture</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>caloriecapture</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
